/* ieat3.css */
body {
	background-color: #000000;
}

.overview {
	background-color: rgba(0, 0, 0, 0.6);
	background-image: none;
	-webkit-box-shadow: rgba(0, 0, 0, 0.796875) 0px 0.2em 0.6em;
}

.pageovcontainer {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: stretch;
}

.pageoverview {
			position: relative;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-box-align: stretch;
			height: 100%;
			padding: 10px ;
			margin: 10px ;
}

.overview .x-panel-body, .overview .x-carousel-body {
	background-color: rgba(0, 0, 0, 0);
	color: #FFFFFF;
}

.overview .x-toolbar .x-button .x-button-label{
	font-size: 1em;
}

.ordered {
	background-color: rgba(0, 0, 0, 0.6);
	background-image: none;
	-webkit-box-shadow: rgba(0, 0, 0, 0.796875) 0px 0.2em 0.6em;
}

.info, .suggestion {
	background-color: rgba(0, 0, 0, 0.6);
	background-image: none;
	-webkit-box-shadow: rgba(0, 0, 0, 0.796875) 0px 0.2em 0.6em;
}

#headbar{
	background-color: #000000;
	background-image: none;
	font-size: 1em;
	-webkit-box-shadow: rgba(0, 0, 0, 0.796875) 0px 0.2em 0.6em;
}

#headbar.x-toolbar .x-button .x-button-label{
	font-size: 1em;
}