/* ieat3.css */
body {
	background-color: #000000;
}

.overview {
	background-color: rgba(0, 0, 0, 0.6);
	background-image: none;
	-webkit-box-shadow: rgba(0, 0, 0, 0.796875) 0px 0.2em 0.6em;
}

.pageovcontainer {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: stretch;
}

.pageoverview {
			position: relative;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-box-align: stretch;
			height: 100%;
			padding: 10px ;
			margin: 10px ;
}

.overview .x-panel-body, .overview .x-carousel-body {
	background-color: rgba(0, 0, 0, 0);
	color: #FFFFFF;
}

.overview .x-toolbar .x-button .x-button-label, .sheethead.x-toolbar .x-button .x-button-label{
	font-size: 1em;
}

.ordered {
	background-color: rgba(0, 0, 0, 0.8);
	background-image: none;
	-webkit-box-shadow: rgba(0, 0, 0, 0.796875) 0px 0.2em 0.6em;
}

.info, .suggestion {
	background-color: rgba(0, 0, 0, 0.8);
	background-image: none;
	-webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 0.2em 0.6em;
}

.item {
	margin : 10px ;
	padding: 0px 0px 0px 90px;
	position: relative;
	border-bottom: 1px dotted #D1D1D1
}

.item h1,  .item .ordercontrol{
	color: #FFFFFF;
	font-size: 1.2em;
	font-weight: bold;
}

.item h2{
	color: #DDD;
	font-size: 1em;
}

#headbar{
	background-color: #000000;
	background-image: none;
	font-size: 1em;
	-webkit-box-shadow: rgba(0, 0, 0, 0.796875) 0px 0.2em 0.6em;
}

.sheethead{
	background-color: #000000;
	background-image: none;
	font-size: 1em;
}

#headbar.x-toolbar .x-button .x-button-label{
	font-size: 1em;
}